@font-face {
  font-family: "Manrope";
  src: url("../../font/manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.alert-blue {
  background-color: #EFF;
  color: #9AA;
  border: 1px solid #DEE;
  position: relative;
  width: 450px;
  height: auto;
  padding: 25px;
  margin: 12px;
  border-radius: 6px;
  line-height: 1.6;
  text-align: start;
  font-size: 18px;
  font-family: "Manrope";
}
.alert-blue.auto {
  width: auto;
}
.alert-grey {
  background-color: #EEE;
  color: #999;
  border: 1px solid #DDD;
  position: relative;
  width: 450px;
  height: auto;
  padding: 25px;
  margin: 12px;
  border-radius: 6px;
  line-height: 1.6;
  text-align: start;
  font-size: 18px;
  font-family: "Manrope";
}
.alert-grey.auto {
  width: auto;
}
.alert-green {
  background-color: #EFE;
  color: #9A9;
  border: 1px solid #DED;
  position: relative;
  width: 450px;
  height: auto;
  padding: 25px;
  margin: 12px;
  border-radius: 6px;
  line-height: 1.6;
  text-align: start;
  font-size: 18px;
  font-family: "Manrope";
}
.alert-green.auto {
  width: auto;
}
.alert-red {
  background-color: #FEE;
  color: #A66;
  border: 1px solid #EDD;
  position: relative;
  width: 450px;
  height: auto;
  padding: 25px;
  margin: 12px;
  border-radius: 6px;
  line-height: 1.6;
  text-align: start;
  font-size: 18px;
  font-family: "Manrope";
}
.alert-red.auto {
  width: auto;
}
.alert-yellow {
  background-color: #FDF7DF;
  color: #C9971C;
  border: 1px solid #FEEC6F;
  position: relative;
  width: 450px;
  height: auto;
  padding: 25px;
  margin: 12px;
  border-radius: 6px;
  line-height: 1.6;
  text-align: start;
  font-size: 18px;
  font-family: "Manrope";
}
.alert-yellow.auto {
  width: auto;
}

.button-blue {
  background-color: #0f68ec;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 5px;
  font-size: 12px;
  font-family: "Manrope";
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-blue:hover {
  background-color: #0c53bc;
}
.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.2509803922);
}
.button-dark {
  background-color: #151618;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 5px;
  font-size: 12px;
  font-family: "Manrope";
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-dark:hover {
  background-color: black;
}
.button-dark:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(60, 61, 61, 0.2509803922);
}
.button-green {
  background-color: #48c248;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 5px;
  font-size: 12px;
  font-family: "Manrope";
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-green:hover {
  background-color: #36a136;
}
.button-green:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 115, 0.2509803922);
}
.button-grey {
  background-color: #e9e6e6;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 5px;
  font-size: 12px;
  font-family: "Manrope";
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-grey:hover {
  background-color: #d1cbcb;
}
.button-grey:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(240, 247, 243, 0.2509803922);
}
.button-red {
  background-color: #dd2c3e;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 5px;
  font-size: 12px;
  font-family: "Manrope";
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-red:hover {
  background-color: #b81e2d;
}
.button-red:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(226, 48, 48, 0.2509803922);
}
.button-yellow {
  background-color: #f5e642;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 5px;
  font-size: 12px;
  font-family: "Manrope";
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-yellow:hover {
  background-color: #f2e012;
}
.button-yellow:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(214, 226, 48, 0.2509803922);
}

.badge-blue {
  display: inline-block;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #0f68ec;
  color: #fff;
  font-family: "Manrope";
}
.badge-dark {
  display: inline-block;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #151618;
  color: #fff;
  font-family: "Manrope";
}
.badge-green {
  display: inline-block;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #48c248;
  color: #fff;
  font-family: "Manrope";
}
.badge-grey {
  display: inline-block;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #e9e6e6;
  color: #fff;
  font-family: "Manrope";
}
.badge-red {
  display: inline-block;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #dd2c3e;
  color: #fff;
  font-family: "Manrope";
}
.badge-yellow {
  display: inline-block;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #f5e642;
  color: #fff;
  font-family: "Manrope";
}/*# sourceMappingURL=wizard.css.map */