

// variabel colors

$blue: #0f68ec !default;
$green: #48c248 !default;
$indigo:  #6212e4 !default;
$orange:  #fa770c !default;
$red: #dd2c3e !default;
$white:    #fff !default;
$yellow: #f5e642 !default;

$colors: (
  "blue":       $blue,
  "green":      $green, 
  "indigo":     $indigo,
  "orange":     $orange, 
  "red":        $red, 
  "yellow":     $yellow, 
  "white":      $white
) !default;

// end of variabel colors


