

// variabel colors

$blue:  #0f68ec !default;
$dark:  #151618 !default;
$green: #48c248 !default;
$indigo:#6212e4 !default;
$orange:#fa770c !default;
$red:   #dd2c3e !default;
$white: #fff !default;
$grey:  #e9e6e6 !default;
$yellow:#f5e642 !default;

$colors: (
"blue":       $blue,
"green":      $green, 
"indigo":     $indigo,
"orange":     $orange, 
"red":        $red, 
"yellow":     $yellow, 
"white":      $white
) !default;

// end of variabel colors


// Alert Colors 

$alert-colors: (
"blue": (
"background-color": #EFF,
"border": 1px solid #DEE,
"color": #9AA
),
"grey":      (
"background-color": #EEE,
"border": 1px solid #DDD,
"color": #999,
),
"green":     (
"background-color": #EFE,
"border": 1px solid #DED,
"color": #9A9,
), 
"red":       (
"background-color": #FEE,
"border": 1px solid #EDD,
"color": #A66,
), 
"yellow":    (
"background-color": #FDF7DF,
"border": 1px solid #FEEC6F,
"color": #C9971C,
)
) !default;

// end Alert Colors

// Badge and Button Colors

$badge-button-colors: (
"blue" : (
    "background-color": $blue,
    "color": $white,
    "outline-color": #007bff40,
),
"dark" : (
    "background-color": $dark,
    "color": $white,
    "outline-color": #3c3d3d40,
),
"green" : (
    "background-color": $green,
    "color": $white,
    "outline-color": #00ff7340,
),
"grey" : (
    "background-color": $grey,
    "color": $white,
    "outline-color": #f0f7f340,
),
"red" : (
    "background-color": $red,
    "color": $white,
    "outline-color": #e2303040,
),
"yellow" : (
    "background-color": $yellow,
    "color": $white,
    "outline-color": #d6e23040,
)
) !default; 

// End Badge and Button Colors



// Container size

$max-size-grid: (
"s": 540px,
"m": 720px,
"l": 960px,
"xl": 1024px,
"xxl": 1280px
)!default;

// End of Size Container


// Text Variabel

$lead-font-size: 1.25rem;
$lead-font-weight: 300;
$lead-line-height: 1.6;
$paragraph-font-size: 1rem;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: 1.25rem;

$text-align: (
    "left" : left,
    "right" : right,
    "center" : center,
    "justify" : justify
);

// End of Text Variabel
