

// variabel colors

$blue:  #0f68ec !default;
$dark:  #151618 !default;
$green: #48c248 !default;
$indigo:#6212e4 !default;
$orange:#fa770c !default;
$red:   #dd2c3e !default;
$white: #fff !default;
$grey:  #e9e6e6 !default;
$yellow:#f5e642 !default;

$colors: (
"blue":       $blue,
"green":      $green, 
"indigo":     $indigo,
"orange":     $orange, 
"red":        $red, 
"yellow":     $yellow, 
"white":      $white
) !default;

// end of variabel colors


// Alert Colors 

$alert-colors: (
"blue": (
"background-color": #EFF,
"border": 1px solid #DEE,
"color": #9AA
),
"grey":      (
"background-color": #EEE,
"border": 1px solid #DDD,
"color": #999,
),
"green":     (
"background-color": #EFE,
"border": 1px solid #DED,
"color": #9A9,
), 
"red":       (
"background-color": #FEE,
"border": 1px solid #EDD,
"color": #A66,
), 
"yellow":    (
"background-color": #FDF7DF,
"border": 1px solid #FEEC6F,
"color": #C9971C,
)
) !default;

// end Alert Colors

// Badge and Button Colors

$badge-button-colors: (
"blue" : (
    "background-color": $blue,
    "color": $white,
    "outline-color": #007bff40,
),
"dark" : (
    "background-color": $dark,
    "color": $white,
    "outline-color": #3c3d3d40,
),
"green" : (
    "background-color": $green,
    "color": $white,
    "outline-color": #00ff7340,
),
"grey" : (
    "background-color": $grey,
    "color": $white,
    "outline-color": #f0f7f340,
),
"red" : (
    "background-color": $red,
    "color": $white,
    "outline-color": #e2303040,
),
"yellow" : (
    "background-color": $yellow,
    "color": $white,
    "outline-color": #d6e23040,
)
) !default; 

// End Badge and Button Colors



// Text Variabel

$lead-font-size: 1.25rem;
$lead-font-weight: 300;
$lead-line-height: 1.6;
$paragraph-font-size: 1rem;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: 1.25rem;

$text-align: (
    "left" : left,
    "right" : right,
    "center" : center,
    "justify" : justify
);

// End of Text Variabel


// Image Variabel

$image-border-radius: 0.25rem;
$image-border-radius-circle: 50%;

// End Image Variabel


// Variabel flex 

$positions: (
    "start" : flex-start,
    "end" : flex-end,
    "center" : center,
    "between" : space-between,
    "around" : space-around,
    "evenly" : space-evenly,
    "baseline" : baseline,
    "auto" : auto,
    "stretch" : stretch,
    "initial" : initial,
    "inherit" : inherit,
    "normal" : normal,
    "legacy" : legacy 
);

$flex-positions: (
    "auto": auto,
    "wrap": wrap,
    "nowrap": nowrap,
    "reverse": wrap-reverse,
    "initial": initial,
    "inherit": inherit,
    "number": number,
    "row": row,
    "column": column,
    "row-reserve": row-reserve,
    "column-reserve": column-reserve,
    "flex-grow": flex-grow,
    "flex-shrink": flex-shrink,
    "flex-basis": flex-basis,
);

// end vaiabel flex

// variabel col  
$grid-columns: 12; 
$breakpoint-next: 10px;
$breakpoints: (
  "xs": 0px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
); 
// end variabel col


// font 
$font: (
    "font-style" : (
        "normal" : normal,
        "italic" : italic,
        "oblique" : oblique
    ),
    "font-weight" : (
        "normal" : normal,
        "bold" : bold,
        "bolder" : bolder,
        "lighter" : lighter,
        "100" : 100,
        "200" : 200,
        "300" : 300,
        "400" : 400,
        "500" : 500,
        "600" : 600,
        "700" : 700,
        "800" : 800,
        "900" : 900,
    ),
    "font-variant" : (
        "normal" : normal,
        "small-caps" : small-caps
    ),
);
// end font


// Overflow
$overflow : (
    "auto" : auto,
    "hidden" : hidden,
    "scroll" : scroll,
    "visible" : visible
);
$overflow-wrap : (
    "normal" : normal,
    "anywhere" : anywhere,
    "break-word" : break-word, 
);
//  end Overflow

// float 
$float: (
    "left" : left,
    "right" : right,
    "none" : none,
);
// end float

// Display
$display: (
    "block" : block,
    "inline" : inline,
    "inline-block" : inline-block,
    "flex" : flex,
    "inline-flex" : inline-flex,
    "none" : none,
    "table" : table,
    "inline-table" : inline-table,
    "table-row" : table-row,
    "inline-table-row" : inline-table-row,
    "table-cell" : table-cell,
    "inline-table-cell" : inline-table-cell,  
);
// End Display

// Cursor
$cursor: (
    "auto": auto,
    "default": default,
    "none": none,
    "context-menu": context-menu,
    "help": help,
    "pointer": pointer,
    "progress": progress,
    "wait": wait,
    "cell": cell,
    "crosshair": crosshair,
    "text": text,
    "vertical-text": vertical-text,
    "alias": alias,
    "copy": copy,
    "move": move,
    "no-drop": no-drop,
    "not-allowed": not-allowed,
    "grab": grab,
    "grabbing": grabbing,
    "all-scroll": all-scroll,
    "col-resize": col-resize,
    "row-resize": row-resize,
    "n-resize": n-resize,
    "e-resize": e-resize,
    "s-resize": s-resize,
    "w-resize": w-resize,
    "ne-resize": ne-resize,
    "nw-resize": nw-resize,
    "se-resize": se-resize,
    "sw-resize": sw-resize,
    "ew-resize": ew-resize,
    "ns-resize": ns-resize,
    "nesw-resize": nesw-resize,
    "nwse-resize": nwse-resize,
    "zoom-in": zoom-in,
    "zoom-out": zoom-out
);

// end Cursor

// visibility
$visibility: (
    "visible": visible,
    "hidden": hidden,
    "collapse": collapse
);
// end visibility

// position
$position : (
    "static" : static,
    "relative" : relative,
    "absolute" : absolute,
    "fixed" : fixed,
    "sticky" : sticky
);
// end position