@each $key, $value in $positions {
    .align-items-#{$key} { 
     align-items: $value;
    }
} 


@each $key, $value in $positions {
    .align-content-#{$key} { 
     align-items: $value;
    }
} 

@each $key, $value in $positions {
    .align-content-#{$key} { 
     align-items: $value;
    }
} 