@each $key, $value in $positions {
    .justify-content-#{$key} { 
     display: flex;
     justify-content: $value;
    }
} 

@each $key, $value in $positions {
    .justify-items-#{$key} { 
     display: flex;
     justify-content: $value;
    }
} 