@for $value from 1 through 100 {

.p-#{$value}{
    padding: #{$value}rem;
}

.px-#{$value}{
    padding: 0 #{$value}rem;
}

.py-#{$value}{
    padding: #{$value}rem 0;
}

.pl-#{$value}{
    padding-left: #{$value}rem;
}
.pt-#{$value}{
    padding-top: #{$value}rem;
}

.pr-#{$value}{
    padding-right: #{$value}rem;
}

.pb-#{$value}{
    padding-bottom: #{$value}rem;
}

}