.alert {
    position: relative;
    width: 450px;
    height: auto;
    padding: 25px;
    margin: 12px;
    border-radius: 6px;
    line-height: 1.6;
    text-align: start;
    font-size: 18px;
    font-family: 'Manrope'; 
    @each $key, $value in $alert-colors {
        &-#{$key} {
            background-color: map-get($value, "background-color");
            border: map-get($value, "border");
            color: map-get($value, "color");

            &.auto {
                width: auto;
            }
        }
    }
}
