.nav {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 0.5rem;
  }
  
  .nav-link {
    padding: 0.5rem 1rem;
    color: #5088c4;
    text-decoration: none;
    border-radius: 0.25rem;
  }
  

  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
  }
   
  .nav-vertical {
    flex-direction: column;
  }
  
  .nav-vertical .nav-item {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  
  .nav-vertical .nav-link {
    width: 100%;
  }