
.form-range {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: 0.25rem;
    background-color: #dee2e6;
    outline: none;
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #007bff;
    cursor: pointer;
  }
  
  .form-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #007bff;
    cursor: pointer;
  }
  
  .form-range::-ms-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #007bff;
    cursor: pointer;
  }