<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Buttons</title> 
    <link rel="stylesheet" href="../../css/wizard.css">
</head>
<body>

    <button class="button button-blue">this is button</button>
    <button class="button button-dark">this is button</button>
    <button class="button button-green">this is button</button>
    <button class="button button-grey">this is button</button>
    <button class="button button-red">this is button</button>
    <button class="button button-yellow">this is button</button>
 
    
</body>
</html>